@model ProgressTracker.ViewModels.DailyRecord.AddDailyRecordViewModel;

@{
ViewData["Title"] = "Add Daily Study Record";
}

<h1>@ViewData["Title"]</h1>
<hr/>

<form method="post" class="mt-4">
    <div class="form-group row mb-3">
        <label for="dailyTarget" class="col-sm-2 col-form-label">Daily Target:</label>
        <div class="col-sm-2">
            <div class="input-group">
                <input type="text" class="form-control" asp-for="DailyRecord.Target" readonly>
                <span class="input-group-text col" style="flex: 0 0 40%;">hours</span>
            </div>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label">Date:</label>
        <div class="col-sm-2">
            <input asp-for="DailyRecord.Date" class="form-control" type="date" required>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label">Break:</label>
        <div class="col-sm-2">
            <div class="input-group">
                <input type="number" id="BreakHours" name="BreakHours" min="0" max="24" class="form-control">
                <span class="input-group-text col" style="flex: 0 0 40%;">hours</span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group">
                <input type="number" id="BreakMinutes" name="BreakMinutes" min="0" max="59" class="form-control">
                <span class="input-group-text col" style="flex: 0 0 40%;">mins</span>
            </div>
        </div>
    </div>

    <p><strong>Add a session</strong></p>
    <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label">Select a subject:</label>
        <div class="col-sm-2">
            <select asp-for="SubjectSelectedValue" asp-items="Model.SubjectOptions" class="form-control">
                <option value="">-- Please Select --</option>
            </select>
        </div>
    
        <div class="col-sm-2">
            <div class="input-group">
                <input type="number" id="SubjectHours" name="SubjectHours" min="0" max="24" class="form-control">
                <span class="input-group-text col" style="flex: 0 0 40%;">hours</span>
            </div>
        </div>
    
        <div class="col-sm-2">
            <div class="input-group">
                <input type="number" id="SubjectMinutes" name="SubjectMinutes" min="0" max="59" class="form-control">
                <span class="input-group-text col" style="flex: 0 0 40%;">mins</span>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="text-danger">@TempData["Error"]</p>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-2">
            <a asp-action="Index" class="btn btn-link">Back to List</a>
        </div>
    </div>
</form>

<style>
    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 20px;
    }
    form {
        margin-top: 20px;
    }
    .form-group {
        margin-bottom: 20px;
    }
</style>
