@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>This Privacy Policy outlines how "ProgressTracker" ("we", "our", "us") collects, uses, discloses, and protects your personal information. By using our web application, you agree to the terms of this Privacy Policy.</p>

<h2>Information We Collect</h2>
<p>We collect various types of information in connection with the services we provide, including:</p>
<ul>
    <li><strong>Personal Information</strong>: Information that identifies you as an individual, such as your name, email address, and university details.</li>
    <li><strong>Academic Information</strong>: Information related to your academic performance, such as your current knowledge of subject matter, study sessions, breaks, and grades.</li>
    <li><strong>Usage Data</strong>: Information about how you use our web application, including the pages you visit, the time spent on the application, and other related data.</li>
</ul>

<h2>Your Rights</h2>
<p>You have certain rights regarding your personal information, including the right to:</p>
<ul>
    <li><strong>Access</strong>: Request access to your personal information we hold.</li>
    <li><strong>Correction</strong>: Request correction of inaccurate or incomplete personal information.</li>
    <li><strong>Deletion</strong>: Request deletion of your personal information.</li>
    <li><strong>Restriction</strong>: Request restriction of processing your personal information.</li>
    <li><strong>Portability</strong>: Request transfer of your personal information to another party.</li>
    <li><strong>Objection</strong>: Object to the processing of your personal information.</li>
</ul>

<p>To exercise these rights, please contact us using the contact information provided below.</p>

<h2>Changes to This Privacy Policy</h2>
<p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our web application. You are advised to review this Privacy Policy periodically for any changes.</p>

<h2>Contact Us</h2>
<p>If you have any questions about this Privacy Policy or our privacy practices, please contact us at: <a href="mailto:info@progresstracker.io">info@progresstracker.io</a></p>
